RELWORX_API_BASE_URL=https://payments.relworx.com/api
RELWORX_API_KEY=
RELWORX_ACCOUNT_NO=
RELWORX_WEBHOOK_SECRET=
RELWORX_WEBHOOK_URL=https://YOUR-DOMAIN.com/api/payments/webhook
PAYMENT_ENVIRONMENT=production
NEXT_PUBLIC_APP_URL=https://YOUR-DOMAIN.com
