YO_ENVIRONMENT=sandbox
YO_API_BASE_URL=https://sandbox.yo.co.ug/services/yopaymentsdev/task.php
YO_API_USERNAME=
YO_API_PASSWORD=
YO_INSTANT_NOTIFICATION_URL=https://mobflow-aiviydnxx-sadamkalis-projects.vercel.app/api/payments/webhook
YO_FAILURE_NOTIFICATION_URL=https://mobflow-aiviydnxx-sadamkalis-projects.vercel.app/api/payments/webhook
PORTAL_SESSION_SECRET=

NEXT_PUBLIC_APP_URL=https://mobflow-aiviydnxx-sadamkalis-projects.vercel.app
